<html>
    <head>
        <meta http-equiv="refresh" content="3;url=<%= url %>" />
    </head>
    <body>
        <h1>Your email successfully verified</h1>
        <h2>Redirecting to <a href="<%= url %>"></a> in 3 seconds...</h2>
    </body>
</html>